body {
  max-width: 90%;
  margin: auto;
  font-family: "Roboto Slab", serif;
}

img {
  max-width: 100%;
}

.img-wrapper {
  padding: 25px;
  border: 1px solid #ddd;
  box-shadow: 4px 4px 10px #eee;
  margin: 30px 0 30px;
  border-radius: 25px;
  display: flex;
}

.info-wrapper {
  padding: 15px;
}

h2 {
  text-align: center;
  font-family: "Big Shoulders Text", cursive;
  font-weight: normal;
  font-size: 2em;
  letter-spacing: 2px;
}

h1 {
  text-align: center;
  font-family: "Big Shoulders Text", cursive;
  display: flex;
  align-items: center;
  font-weight: normal;
  letter-spacing: 3px;
  font-size: 3.5em;
  justify-content: center;
}

#company-logo {
  max-height: 1.75em;
  margin-left: 5px;
}

em {
  font-style: normal;
  letter-spacing: 1px;
  font-size: 1.2em;
  border-bottom: 1px solid #ddd;
  margin-bottom: 8px;
}

li {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 10px auto 10px auto;
}

ul {
  list-style: none;
}

.header-wrapper {
  margin-bottom: 85px;
}
